* {
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(73,4,93,1) 80%);

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: grid;
    /*template-column 4 columnas de 75px c/u */
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: black;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 15px 15px 5px  rgba(0, 0, 0, 0.5);
}

button{
    cursor: pointer;
    margin: 5px;
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
}

button.number{
    background-color:grey;
}
button.operator{
    background-color: royalblue;
}

button.number:active{
    background-color:darkorchid;
    
}

button.operator:active{
    background-color:midnightblue;
    
}
.col-2{
    grid-column: span 2;
}

.display{
    /* Va de un extremo al otro */
    grid-column: 1/-1; 
    padding: 20px;
    margin: 10px 20px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#last-value{
    font-size: 3.5rem;
}

#current-value{
    font-size: 1.5rem;
}